.btn {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    background-color: blue;
    color: white;
    font-size: 1.125rem
}

.btn-salvar {
    background-color: #28a745;
}

.btn-listagem {
    background-color: #391b4a;
}