.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #062C30;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

.btn {
    padding: 0.4rem .75rem;
    border-radius: 4px;
    background-color: #05595B;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.btn-group-client {
    display: flex;
    gap: 0.3rem;
    border-radius: 4px;
}

.btn-adicionar {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    background-color: #05595B;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.btn-pesquisar {
    background-color: #3eb531;
}

.btn-resetar {
    background-color: #f2b93f;
}

.form-container {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
    align-items: end;
}

.form {
    display:flex;
    flex-direction: column;
}

.form-id {
    width: 5rem;
}

.input-id {
    width: 100%;
}

.form-descricao {
    flex: 1;
}

table {
    background-color: #fff;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    min-width: 600px;
    border-radius: 8px 8px 2px 2px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 1rem;
}

th, td {
    padding: 0.75rem 0.9375rem;
}

th {
    background-color: #05595B;
    color: #f5f5f5;
    text-transform: uppercase;
}

tr:hover {
    background-color: #eeeeee;
}

td {
    border-top: 4px solid #f5f5f5;
}

.td-id {
    font-weight: 700;
}

.gear {
    color: #062C30;
}