@page "/loading"
@page "/loading/{apelido}/{id:int}"

<div class="text-center">
    <img src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!c1024wm0" class="w-25" />
</div>
@code {

}
