@page "/produtos"
@inject HttpClient http
@inject NavigationManager navigation

<div class="header">
    <h1>Produtos</h1>
    <a class="btn btn-adicionar" href="/produtos/adicao">Adicionar Produto</a>
</div>
    

@code {

}   
