@page "/servicos"

<div class="header">
    <h3>Nossos Serviços</h3>
    <div class="btn-group">
        <button>Editar</button>
        <button>Adicionar</button>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 cards">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/3220/3220315.png">
            <div class="card-body">
                <h5 class="card-title">Corte de Cabelo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <button>Reservar</button>  
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/3220/3220315.png">
            <div class="card-body">
                <h5 class="card-title">Corte de Cabelo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <button>Reservar</button
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/3220/3220315.png">
            <div class="card-body">
                <h5 class="card-title">Corte de Cabelo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <button>Reservar</button
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/3220/3220315.png">
            <div class="card-body">
                <h5 class="card-title">Corte de Cabelo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <button>Reservar</button
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/3220/3220315.png">
            <div class="card-body">
                <h5 class="card-title">Corte de Cabelo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <button>Reservar</button
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/3220/3220315.png">
            <div class="card-body">
                <h5 class="card-title">Corte de Cabelo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <button>Reservar</button
            </div>
        </div>
    </div>

</div>

@code {

}
