.header {
    display:flex;
    align-items:center;
    justify-content: space-between;

    margin-bottom: 2rem;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

img {
    width: 10rem;
}

.btn {
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.btn-adicionar {
    background-color: #28a745;
}

.btn-adicionar:hover {
    background-color: #22943d;
}

.btn-reservar {
    background-color: #007bff;
}

.btn-reservar:hover {
    background-color: #0353a8;
}

.btn-editar {
    background-color: #6c757d;
}

.btn-editar:hover {
    background-color: #4f565c;
}

.card-text {
    font-size: 1.2rem;
    color: #6c757d;
}

.text-price {
    color: red;
}