header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.title {
    color: #062C30;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

.btn {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    background-color: #05595B;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

table {
    background-color: #fff;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-radius: 8px 8px 2px 2px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 1rem;
}

th, td {
    padding: 0.75rem 0.9375rem;
}

th {
    background-color: #05595B;
    color: #f5f5f5;
    text-transform: uppercase;
}

td {
    border-top: 4px solid #f5f5f5;
}

.td-id {
    font-weight: 700;
    color: #F4694D;
}

tr:hover {
    background-color: #eeeeee;
}

.text-vendastotal {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.quantidade-vendas {
    color: red;
}

.gear {
    color: #062C30;
}

.icon-status {
    font-size: .75rem;
}

.agendamento {
    color: green;
}

.andamento {
    color: yellow;
}

.finalizado {
    color: red;
}
