table {
    background-color: #fff;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-radius: 8px 8px 2px 2px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-top: 2rem;
}

th, td {
    padding: 0.75rem 0.9375rem;
}

th {
    background-color: #a11b8e;
    color: #f5f5f5;
    text-transform: uppercase;
}

td {
    border-top: 4px solid #f5f5f5;
}
td:nth-child(1) {
    width: 50%;
}

td:nth-child(2) {
    width: 10%;
}

.preco-total {
    color: green;
}

.btn {
    padding: 0.4rem .75rem;
    border-radius: 4px;
    background-color: #05595B;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.btn-vendas-group {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.btn-adicionar {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 0.3rem;
    padding:.125rem .5rem;
}

.icon-adicionar {
    font-size: .85rem;
}

.btn-listagem {
    background-color: #24282C;
}

.btn-apagar {
    background-color: #ba3636;
}

.input-preco {
    text-align: center;
}

.footer-table {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.text-vendastotal {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.sem-itens {
    margin-top: 0.5rem;
}